
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

@font-face{
	font-family: 'Cubano';
	src: url('Cubano/cubano-regular-webfont.eot');
	src: url('Cubano/cubano-regular-webfont.eot') format('embedded-opentype'),
	     url('Cubano/cubano-regular-webfont.woff') format('woff'),
	     url('Cubano/cubano-regular-webfont.ttf') format('truetype'),
	     url('Cubano/cubano-regular-webfont.svg') format('svg');
}

@import url('Cubano/cubano-regular-webfont.woff');

body {
  background-color: #F7F7EA;
}
a,h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6{
  color:#47777F;
  font-family:'Cubano', sans-serif;
}

 a>p{
  color:#292F36;
  font-family:'Roboto Slab', sans-serif;
  font-size: .9em;
}

p{
  color:#292F36;
  font-size: 1.13em;
  font-family:'Roboto Slab', serif;
}

strong{
  color:#FF3838;
  font-family:'Roboto Slab', sans-serif;
}
.btn{
  border-radius: 20px;
}
.fixed-top,.fixed-bottom{
  background-color:#F7F7EA;
}

.product{
  height: 150px;
  width: 150px;
}

.card{
  width:150px;
  height:fixed;
  margin-top: 15px;
}
.card-body{
  font-size: .9em;
}
.recipeBox{
  border: solid;
  border-color:#AAA;
  border-radius: 20px;
  margin-top: 3px;
  height:125px;
  display: flex;
  align-content: middle;
  font-family:'Roboto Slab', serif;
  font-size:.9em;
}


.signOn{
  width:10em;
}

.white-space {
  margin: 65px 0;
}

.tabSize{
  height:2em;
  width:auto;
}
.alert{
  height:100%;
  background-image: url("/Users/remi/Downloads/Final Project IDD/web-starter/images/backgroundAlert.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#bgPicAlert{
  background:rgba(255,255,255, 0.6);
  border: solid;
  border-color:#AAA;
  border-radius: 20px;
  margin-top: 3px;
  vertical-align: middle;
  color:white;
}

#recipeAdded, #coupon{
  font-size:.8em;
}
