
@import url('https://fonts.googleapis.com/css?family=Gugi|Roboto');
@import url('cubano-regular-webfont.woff')

body {
  background-color: #F7F7EA;
}
h1,h2,h3,h4,h5,h6{
  color:#47777F;
  font-family:'cubano-regular', sans-serif;
}

a{
  color:black;
}

p{
  font-size: 1.13em;
  font-family:'Roboto', sans-serif;
}

.h1,.h2,.h3,.h4,.h5,.h6{
  color:#48777F;
  font-family:'Gugi', sans-serif;

}
strong{
  color:#FF7272;
}
.btn{
  border-radius: 20px;
}
.fixed-top,.fixed-bottom{
  background-color:#F7F7EA;
}

.product{
  height: 150px;
  width: 150px;
}

.card{
  width:150px;
  height:fixed;
  margin-top: 15px;
}

.recipeBox{
  border: solid;
  border-color:#AAA;
  border-radius: 20px;
  margin-top: 3px;
  height:120px;
  display: flex;
  align-content: middle;

}


.signOn{
  width:10em;
}

.white-space {
  margin: 65px 0;
}

.tabSize{
  height:2em;
  width:auto;
}
.alert{
  height:100%;
  background-image: url("/Users/remi/Downloads/Final Project IDD/web-starter/images/backgroundAlert.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#bgPicAlert{
  background: rgba(170,170,170,.7);
  border: solid;
  border-color:#AAA;
  border-radius: 20px;
  margin-top: 3px;
  vertical-align: middle;
  color:white;

}

@import url('https://fonts.googleapis.com/css?family=Gugi|Roboto')
